:host {
    --swiper-navigation-sides-offset: 1.5%;
    --swiper-navigation-size: 15px !important;
    --swiper-navigation-color: #DAFFFB !important;
    --swiper-navigation-top-offset: 43.5% !important;
  }